@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>lesson2_1_1 <a href="https://localhost:5001/start/hello">start/hello</a>.</p>
    <p>lesson2_1_2 <a href="https://localhost:5001/calculator/index/1/3">calculator/index</a>.</p>
    <p>lesson2_1_4 <a href="https://localhost:5001/calc/index?a=4&b=7&c=-">calc/index</a>.</p>
    <p>lesson2_2_1</p>
</div>
