@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3 card shadow">
            <img class="card-img-top" src="@item.ImagePath" alt="Изображение товара" />
        </div>

        <div>            
            <p> <a href="/product/index/@item.ProductId">@item.Name</a></p>
            <p>@item.Cost</p>
        </div>
    }
</div>



