<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Stepik_ASP_Core_MVC_course - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>