@model ProductViewModel

    <form method="post">
        <h3>Создание нового товара</h3>

        <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

        <div class="row">
            <div class="col-3">
                <label asp-for="Name">Название товара</label>
            </div>
            <div class="col-3">
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" />
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label asp-for="Description">Описание</label>
            </div>
            <div class="col-3">
                <input class="form-control" asp-for="Description" />
                <span asp-validation-for="Description" />
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label asp-for="Cost">Цена</label>
            </div>
            <div class="col-3">
                <input type="number" class="form-control" asp-for="Cost" />
                <span asp-validation-for="Cost" />
            </div>
        </div>
               
        <div>
            <button class="btn btn-success" type="submit" asp-area="Admin" asp-controller="Product" asp-action="Add">Создать</button>
        </div>
    </form>
