
@{
    ViewData["Title"] = "Admin";
}

<div class="row">
    @await Html.PartialAsync("AdminLeftMenu")

    <div class="col-9">
        <div class="row">
            <h3>Список Заказов</h3>
        </div>
    </div>
</div>


