
@{
    ViewData["Title"] = "Order";
}

<div class="row">
    <div class="col">
        <label>Введите ФИО</label>
        <input type="text" />
    </div>
</div>

<div class="row">
    <div class="col">
        <label>Адрес доставки</label>
        <input type="text" />
    </div>
</div>

<div class="row">
    <div class="col">
        <label>Контактный телефон</label>
        <input type="text" />
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="btn btn-success" href="/order/buy" role="button">Оформить заказ</a>
    </div>
</div>
