@{
    ViewData["Title"] = "Order";
}

<form method="post">
    <div class="row">
        <div class="col-2">
            <label>Введите ФИО</label>            
        </div>
        <div class="col-3">            
            <input type="text" name="userName" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Адрес доставки</label>            
        </div>
        <div class="col-3">            
            <input type="text" name="userAdress" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Контактный телефон</label>            
        </div>
        <div class="col-3">       
            <input type="text" name="userPhone" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-success" type="submit" asp-controller="Order" asp-action="Buy">Оформить заказ</button>            
        </div>
    </div>
</form>