@model ChangePassword

<form method="post">
    <h3>Смена пароля</h3>

    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
     
    <input type="hidden" name="userName" value="@Model.UserName" />
        
    <div class="row">
        <div class="col-3">
            <label asp-for="Password">Новый пароль</label>
        </div>
        <div class="col-3">
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label asp-for="ConfirmPassword">Повтор пароля</label>
        </div>
        <div class="col-3">
            <input class="form-control" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
    </div>
    
    <div>
        <button class="btn btn-success" type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Сохранить</button>
    </div>
</form>

